@import url('https://fonts.googleapis.com/css?family=Montserrat|Spartan&display=swap');

:root {
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    --main-color: #585452;
    --second-color: #e23e57;
}

body{
    max-width: 980px;
    margin: auto;
}

h1, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

h1{
    font-family: 'Spartan';
    font-size: 3rem;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; 
    font-size: 1rem;
}

header{
    background-image: url(../img/desktop-color.png);
    background-position: center;
    background-size: cover;
    font-size: 3rem;
    color: white !important;
    padding: 30px;
}

.course-header{
    text-align: center;
    margin: 10px;
    color: #585452;
    font-size: 2rem;
    font-family: 'Monserat';
}

hr{
    border: 1px solid #585452;
    opacity: 0.2;
}

.description img{
    width: 101px;
    margin: 20px;
    float: left;
}

.description p{
    margin: 20px;
}

.description h3{
    text-align: right;
    color: #585452;
}
h2{
    color: #585452;
    font-size: 1rem;
}

.program-list {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.program-list li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.program-list li:hover {
    background: #E9E4E0;
}

.program-list li:hover:before {
    transform: rotate(360deg);
}

.program-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #e23e57;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

footer {
    background-color: #e23e57;
    overflow: hidden;
}

form {
    overflow: hidden;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #cfcfcf;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #cfcfcf;
}

input[type=button]{
    float: right;
    margin: 15px 0;
    padding: 12px 15px;
    width: 210px;
    color: #fff !important;
    background:#e23e57; 
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    transition: background 0.3s;
    cursor: pointer;
} 

input[type=button]:hover {
    background:#cc394f
}

section {
    padding: 20px;background-color:#fcfafa;
}

#location,#contacts {
    width: 40%;
    float:left;
    color:#fff;
    padding: 5%;
    text-align: center;
    height: 250px;
}

#social-media {
    width: 90%;
    color:#fff;
    padding: 5%;
    text-align: center;
}

#location img,#contacts img{
    width:50px;
    background-color:#e23e57; 
    padding: 5px;
}

#social-media img{
    width:35px;
    padding: 10px;
    background-color:#e23e57;
} 

#copyright{
    color:white;
    padding: 5px;
    opacity: 50%;
    font-size: 0.7rem;
}

.footer-image {  
    background: linear-gradient(#e23e57  0%,#e23e57  49%, #fff 50%, #fff 51%, #e23e57  52%, #e23e57  100%);
}



