@import url('https://fonts.googleapis.com/css?family=Montserrat|Spartan&display=swap');

:root {
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    --main-color: #585452;
    --second-color: #e23e57;
}

body{
    max-width: 980px;
    margin: auto;
}

h1, p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--second-color);
    padding: 5px;
}

h1{
    font-family: 'Spartan';
    font-size: 3rem;
}

header nav .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

header div {
    background-image: url(../img/fone.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

header div p{
    font-size: 3rem;
    color: white;
}

 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-names{
    font-size: 2rem;
    color:#585452;
    margin: 10px;
}

.course-name{
    margin: 10px;
    font-size: 1.25rem;
    color: #585452;
}

#courses img{
    float: left;
    width: 10%;
    margin: 30px;
}

.course p{
    font-size: 1rem;
    color: #585452;
}

.learn-more{
    margin: 30px;
    padding: 10px;
    color: #fff !important;
    background:#e23e57; 
    border-radius: 15px;
    border: none;
    float: right;
}

hr{  
  border: 1px solid #585452;
  opacity: 0.2;
}

.feedback img{
    margin: auto;
    margin-right: 10px;
    float: left;
    width: 80px;
}

.feedback p{
    padding: 20px;
}

#companies img{
    width: 310px;
    height: 80px;
    display: inline-block;
}




footer *{
    background-color: #e23e57;
}



